.lesson {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ebebeb;
}

.lesson__radio_week {
  position: relative;
  /* margin: 0 0 0 10px; */
  /* right: 10px; */
  /* left: 10px; */
  width: 100%;
}

.lesson__radio_week .ant-radio-button-wrapper:first-child {
  border-radius: 10px 0 0 0;
}

.lesson__radio_week .ant-radio-button-wrapper:last-child {
  border-radius: 0 10px 0 0;
}

.lesson_card {
  position: relative;
  width: 100%;
}

.main {
  justify-content: unset;
}

.lesson_card__main {
  display: flex;
  align-items: baseline;
  gap: 300px;
  margin: 10px 0 10px 0;
}

.main {
  /* margin: 0 0 10px 0; */
}

.main__count {
  width: 70px;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: right;
  border-width: 0px;

  position: absolute;
  left: 0px;
}

.main__count_text {
  margin: 0;
  padding: 5px 0;
}

.main__title {
  margin: 3px 0 0 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.secondary {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

h4 {
  margin: 0;
}

.secondary__time {
  margin: 0 0 0 10px;
}

.secondary__time_line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0;
}

.secondary__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 0 25px;
  text-align: start;
}

.secondary__info h3 {
  font-weight: 600;
  font-size: 16px;
}

.secondary__info_type {
  margin: 0 10px 0 0;
  font-weight: 600;
  font-size: 18px;
}

.tag {
  font-weight: 600;
  font-size: 16px;
}

.tag_antd {
  font-weight: 600;
  font-size: 16px;
  padding: 2px 4px;
}

.tag_antd i {
  font-weight: 500;
  font-size: 14px;
}

.first_container {
  display: flex;
  justify-content: space-between;
}

.first_container div {
  font-size: 20px;
  text-overflow: ellipsis;
  /* // overflow: "hidden", */
  white-space: pre-wrap;
}
