.scrollable_list {
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 250px;
    max-height: 100%;
}

.scrollable_list:-webkit-scrollbar {
    border-radius: 0px;
    box-shadow: inset 0 0 5px white;
    width: 5px;
}

.scrollable_list::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(24, 144, 255, 0.3);
}
