.div-container {
    display: flex;
    position: sticky;
    height: 62px;
    padding: 12px;
    top: 80px;
    background: white;
    z-index: 20;
    border-radius: 10px;
    border-color: #F0F0F0;
    border: solid #F0F0F0 1px;
    //overflow: "hidden",
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.label-div {
    display: flex;
    align-items: center;

    h4 {
        margin: 0 10px 0 0;
        font-weight: 500px;
        font-size: 14px;
    }
}

.space-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:after {
        content: "";
        background-color: #f5f5f5;
        right: -16px;
        left: -16px;
        top: -20px;
        height: 20px;
        position: absolute;
        z-index: 1;
    }
}
