.container {
  width: 100%;
  min-width: 10%;
  margin: 0 auto;
}

.container h3 {
  padding: 5px 0 5px 10px;
  color: white;
  font-weight: 500;
}

.scrollable_list {
  height: 300px;
  padding: 0;
  overflow-y: auto;
}

.scrollable_list_adapt {
  padding: 0;
  overflow-y: auto;
}
