.container {
    width: 100%;
    margin-bottom: 10px;
}

.container h3 {
    padding: 5px 0 5px 10px;
    color: white;
    font-weight: 500;
}

.container div {
    display: flex;
}

.degree {
    color: #7a8187;
    margin-left: 5px;
    font-weight: 500;
}
